{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "endOfLine": "crlf",
  "arrowParens": "always",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5"
}